
body {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    /* color: white; */
    transform: rotate(90deg);
    margin-left: 465px;
    margin-top: -40px;
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
    height:100%;
    background-color: white;

}

.div-container {
    display: flex;
    flex-direction: row;  
    
}

.font-size-10px {
    font-size: 10px;
}



.h1-milktea {
    border-bottom: 2px black solid;
    font-weight: 400;
    margin-left: 37px;
    width: 98%;
}

.h1-fruittea {
    border-bottom: 2px black solid;
    font-weight: 400;
    margin-left: 37px;
    width: 109%;
}

.h1-smoothies {
    border-bottom: 2px black solid;
    font-weight: 400;
    margin-left: 37px;
    width: 143%;
}

.h1-hottea {
    border-bottom: 2px black solid;
    font-weight: 400;
    margin-left: 90px;
    width: 85%;
}

.ul-hottea{
    margin-left: 50px;
}

.price-spacing {
    position:absolute;
    right: 48%;
}


.brownsugar{
    
    width: 120%;
}

h1{
    border-bottom: 2px black solid;
    font-weight: 400;
    margin-left: 37px;
}


h4 {
    margin-left: 10px;
}

h3 {
    border-bottom: 1px black dashed;
    font-weight: 500;
    width: 100%;
}

.margin-top {
    margin-top: -10px;
}

ul {
    list-style-type: none;
    margin-top: -20px;
}

li {
    
    word-spacing: 10px;
}

.end-char {
    position:absolute;
    right: -5%;
}


.img-div{
    margin-left: -10px;
}

.flex-div {
    display: flex;
}





.img-div {
    margin-left: 50px;
}

p{
    margin-top: -5px;
}

.topping-div{
    border: 1px black solid;
    width: 150px;
    height: 170px;
    margin-left: 200px;
    margin-top: 50px;
}

h4 {
    margin-top: -10px;
    background-color: white;
    width: fit-content;
}

.topping-ul{
    font-size: 12px;
    margin-left: -30px;
}

.HOTTEA-PRICE-SPACING {
    position:absolute;
    right: -5%;
}

.sub {
    font-size: 9px;
}
